<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clipserver">


    <uses-permission android:name="edu.uic.cs478.s19.kaboom" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.example.clipserver.AudioTrackService" android:process=":remote">
            <intent-filter>
                <action android:name="musicservice"/>
            </intent-filter>
        </service>
    </application>

</manifest>